<!-- Describe task in general -->

<p>
    In einem gegebenen {% if interpreter.slug == "js-node" %}array{% else %}list{% endif %} sollte das letzte Element das erste werden. Ein leeres {% if interpreter.slug == "js-node" %}array{% else %}list{% endif %} oder {% if interpreter.slug == "js-node" %}array{% else %}list{% endif %} mit nur einem Element sollte gleich bleiben
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}repl-last.svg" alt="example" style="max-height: 200px"/>
</p>
<!-- Explain input and output values -->
<p>
   <strong>Eingabe: </strong> {% if interpreter.slug == "js-node" %}Array{% else %}Liste{% endif %}.
</p>

<p>
   <strong>Ausgabe: </strong> {% if interpreter.slug == "js-node" %}Array{% else %}Iterable (Tupel, Generator, Iterator ...){% endif %}.
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Beispiel:</strong>
    </p>


<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

